body {
	margin:8px;
	font: bold 14px/1.4 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}
input[type=text] {
	width: 375px;
	padding: 11px 10px 9px 10px;
	display: block;
	margin: 0;
	border: 1px solid #DFE7FF;
	background: 0;
}
.button {
	background-color:#DFD7FF;
	background-image: -webkit-radial-gradient(center center, ellipse cover, #DFE7FF, #CCCCCC);
	background-image: -moz-radial-gradient(center center, ellipse cover, #DFE7FF, #CCCCCC);
	background-image: -ms-radial-gradient(center center, ellipse cover, #DFE7FF, #CCCCCC);
	background-image: -o-radial-gradient(center center, ellipse cover, #DFE7FF, #CCCCCC);
	cursor: pointer;
	display: block;
	font-size: 16px;
	height: 35px;
	line-height:35px;
	text-align: center;
	width: 98%;
}
.button:active {
	background-image: -webkit-radial-gradient(center center, ellipse cover, #CCCCCC,#DFE7FF );
	background-image: -moz-radial-gradient(center center, ellipse cover, #CCCCCC,#DFE7FF);
	background-image: -ms-radial-gradient(center center, ellipse cover, #CCCCCC,#DFE7FF);
	background-image: -o-radial-gradient(center center, ellipse cover, #CCCCCC,#DFE7FF);
}
.hidden{
	position: absolute;
	top: 0;
	left: -9999px;
}
.header {
	background-color:#EFF7FF;
	width:99%;
	text-align:center;
	cursor:pointer;
	border-bottom:1px solid white;
}
.body {
	display:none;
	width:100%;
}
.background.option, .background.custom, .image.option {
	display:inline-block;
	position:relative;
	background-repeat:no-repeat !important;
	background-position:center;
}
.background.option, .background.custom {
	width:80px;
        height:110px;
	background-size: 80px 110px !important;
}
.image.option {
	width:150px;
	height:150px;
	background-size: 150px 150px !important;
}

.icon.option,.icon.custom,.setIcon.none,.setIcon.option,.setIcon.custom,.upgrade.option {
	display:inline-block;
	width:90%;
	position:relative;
	min-height:24px;
	background-repeat:no-repeat !important;
	background-size: 24px 24px !important;
	background-position:2px 2px;
}
.skillIcon {
	display:inline-block;
	min-width:20px;
	height:20px;
	position:relative;
	background-repeat:no-repeat !important;
	background-size: 16px 16px !important;
        background-position:center;
}
.icon.option:hover,.icon.option.selected,.setIcon.option:hover,.setIcon.option.selected,.upgrade.option:hover,.upgrade.option.selected {
	background-position:0px 0px;
}
.background.option > span ,.background.custom > span {
	display: inline-block;
	position:relative;
	top:15px;
	text-align:center;
	cursor:pointer;
	width:100%;
	height:75%;
}
.icon.option > span, .icon.custom > span, .setIcon.option > span, .setIcon.custom > span, .setIcon.none > span, .upgrade.option > span {
	left:24px;
	width:90%;
	display: inline-block;
	position:relative;
}
.option, .custom, .none {
	padding:3px;
	cursor: pointer;
}
.option.selected, .custom.selected, .none.selected {
	padding:2px;
	border:1px green solid !important;
}
.option:hover, .custom:hover, .none:hover, .button.hover {
	padding:2px;
	border:1px #AAF solid !important;
}
@font-face {
	font-family : Optimus;
	src: url('http://dragons-faction.dyndns.org/fonts/Optimus.ttf');
}
@font-face {
	font-family : EnigmaU;
	src: url('http://dragons-faction.dyndns.org/fonts/Enigma.ttf');
}
.suggestions {
	position:absolute;
	background-color:#EEE;
	padding:2px;
	box-shadow: 2px 2px 4px 1px #fff;
	border:1px solid grey;
	overflow:auto;
	max-height:200px;
	min-height:20px;
}
.suggestions > * {
	border-bottom : 1px solid #FFF;
	width:100%;
	cursor:pointer;
}
.imagesSuggestion {
	padding-top:5px;
	padding-bottom:5px;
}
.imagesSuggestion > img {
	padding:3px;
	cursor:pointer;
}
.imagesSuggestion > img:hover {
	padding:1px;
	border:2px #AAF solid;
}
.imagesSuggestion > img.selected {
	padding:1px;
	border:2px green solid !important;
}
.hsel {
	background-color: #8AA7D5;
	color: #036;
}
